version: "3"
services:

  mongo:
    image: ist769/mongo:latest
    restart: always
#    networks: ["vnet"]
#    hostname: mongo-1.vnet
    hostname: mongo
    ports:
      - 27017:27017
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: pass

  mongo-express:
    image: mongo-express
#    networks: ["vnet"]
#    hostname: mongo-express-1.vnet
    hostname: mongo-express
    restart: always
    ports:
      - 8081:8081
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: admin
      ME_CONFIG_MONGODB_ADMINPASSWORD: pass
